.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  background-image: url("./assets/CosmicJWST.png");
  color: white;
}

.evelynsshit {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  background-image: url("https://images6.alphacoders.com/109/1096278.jpg");
}

.evelynsshit2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlG-wKTO_D8_ypXsZpTosg228C09qo4IaqGw&s");
  /*color: #ffdc01;*/
  /*font-size: 20rem;*/
}

.evelynsshit3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  background-image: url("https://wallpapercave.com/wp/wp4195652.jpg");
}

.alumniPin {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
}

.container img {
  width: 100%;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}